#layout {
  margin-top: 60px;
}

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;

  .logo {
    .title {
      font-size: 2.5rem;
      font-weight: bold;
      text-decoration: none;
      color: #dcdcdc;
    }
  }
}

.main {
  padding: 20px;
}
