<div class="container">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-block">
    <h1>Login</h1>

    <p class="error" *ngIf="error">{{ error }}</p>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="loginForm.controls.email?.hasError('required')">
        Email address is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
      <mat-error *ngIf="loginForm.controls.password?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button [disabled]="isSubmited || loginForm.invalid || loginForm.pristine" color="primary">
      Login
    </button>

    <a mat-flat-button color="accent" routerLink="/account/registration">Don't have an account? Registration</a>
  </form>
</div>