.form-group {
  margin: 0 20px;
}

.top-block {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.balance {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 50px;
}

.transaction {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 50px;
}
