<div class="main">
  <div class="top-block">
    <div class="balance" *ngIf="balance$ | async as balance">
      <p>Balance</p>
      {{ balance }} Point
    </div>
    <div class="transaction">
      <h3>Transaction</h3>
      <form [formGroup]="transactionForm" (ngSubmit)="createTransaction()">
        <mat-form-field class="form-group">
          <mat-label>Email</mat-label>
          <input matInput formControlName="userEmail" />
          <mat-error *ngIf="transactionForm.controls.userEmail?.hasError('required')">
            Email address is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="form-group">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="amount" />
          <mat-error *ngIf="transactionForm.controls.amount?.hasError('required')">
            Amount address is required
          </mat-error>
        </mat-form-field>
  
        <button type="submit" mat-raised-button [disabled]="transactionForm.invalid || transactionForm.pristine"
          color="primary">
          Transaction
        </button>
      </form>
    </div>
  </div>


  <div class="transactions">
    <p-table [value]="transaction" [lazy]="true" (onLazyLoad)="load($event)" [paginator]="true" [rows]="10"
      [totalRecords]="totalRecords" [loading]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th>correspondentName</th>
          <th>amount</th>
          <th>createdDate</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transaction>
        <tr>
          <td>{{ transaction.correspondentName }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.createdDate | date }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>