<div class="container">

  <ng-contaiter *ngIf="!isSuccessfully; else success">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-block">
      <h1>Registration</h1>

      <p class="error" *ngIf="error">{{ error }}</p>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="registerForm.controls.email?.hasError('required')">
          Email address is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
        <mat-error *ngIf="registerForm.controls.password?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmPassword" />
        <mat-error *ngIf="registerForm.controls.confirmPassword?.hasError('required')">
          Confirm password is required
        </mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button [disabled]="isSubmited || registerForm.invalid || registerForm.pristine"
        color="primary">
        Registration
      </button>

      <a mat-flat-button color="accent" routerLink="/account/login">Already have an account? Login</a>
    </form>
  </ng-contaiter>

</div>

<ng-template #success>
  <div class="form-block">
    <h1>Successfully</h1>
    <p>Your user has been successfully created. <a routerLink="/account/login">Click here to login</a></p>
  </div>
</ng-template>