.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);

  .form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 50px;

    .error {
      color: red;
    }

    button {
      margin: 20px 0;
    }
  }

}
