<div id="layout">
  <header class="header">
    <div class="logo">
      <a class="title" href="/"> PW </a>
    </div>
  </header>
  <main class="main">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
