.header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;

  .logo {
    padding: 15px;

    .title {
      font-size: 2.5rem;
      font-weight: bold;
      text-decoration: none;
      color: #dcdcdc;
    }
  }
}
